.my-button {
  background-color: palevioletred;
  border-color: transparent;
  color: white;
  border-radius: 8px;
  width: 70px;
}

.my-button:hover {
  background-color: white;
  border-color: palevioletred;
  color: palevioletred;
}

.center-date {
  align-self: center;
}
