.myClass ul > li > a {
  background-color: gray;
  color: black;
}

.my-button {
  background-color: palevioletred;
  border-color: transparent;
  color: white;
  border-radius: 8px;
}

.my-button:hover {
  background-color: white;
  border-color: palevioletred;
  color: palevioletred;
}
